.preview-card {
  width: 350px;
  /* max-height: 400px; */
  height: fit-content;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--foreground);
  overflow: hidden;
}

.preview-card.horizontal{
    flex-direction: row !important;
    width: 40%;
    min-width: 500px !important;
    height: fit-content;
    min-height: 100px !important;
}

.thumbnail-container {
  width: 100%;
  height: 60%;
  padding: 0.4rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-card.horizontal .thumbnail-container{
    width: 40% !important;
    height: 100% !important;
    padding: .4rem;
}

.thumbnail-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.preview-card.horizontal .thumbnail-container img{
    object-fit: fill;
    height: auto;
    width: 100%;
}

.preview-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 0.4rem;
  gap: 0.4rem;
  width: 100%;
}

.preview-card.horizontal .preview-body{
    width: 60% !important;
}

.preview-title {
  font-family: var(--source-font);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.title {
  font-size: 1.1rem;
  color: var(--body-text);
  font-weight: 700;
}

.favicon{
    margin-right: .4rem;
}
.favicon img{
    margin: auto 0;
}

.page-url{
    font-size: .9rem;
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.preview-description {
  margin: 0;
  font-family: var(--source-font);
  color: var(--body-text);
  font-weight: 400;
  padding: 0.2rem;
}


@media screen and (max-width: 400px) {
    .preview-card{
        width: 90% !important;
    }
}
